<div class="sidenav-container">
    <header class="sidenav-header">
        <i data-lucide="dumbbell" class="sidenav-logo-icon"></i>
        <span class="sidenav-logo-text">ChessGym</span>
    </header>

    <nav class="sidenav-nav">
        <ul class="sidenav-list">
            <li><a href="#" class="sidenav-link" data-page="home"><i data-lucide="house" class="sidenav-icon"></i> Home</a></li>
            <li><a href="#" class="sidenav-link" data-page="puzzles"><i data-lucide="puzzle" class="sidenav-icon"></i> Puzzles</a></li>
            <li><a href="#" class="sidenav-link" data-page="stats"><i data-lucide="chart-column" class="sidenav-icon"></i> Stats</a></li>
            <li><a href="#" class="sidenav-link" data-page="settings"><i data-lucide="settings" class="sidenav-icon"></i> Settings</a></li>
        </ul>

    </nav>
</div>
